{% extends 'CrousBackendBundle::layout-login.html.twig' %} 

{%block homecls%}class="login-page"{%endblock%}
{% block body %}
    <div class="col-xs-12">
        <div class="login-block">
            <p class="title">administration</p>
            <form method="post" action="{{path('crous_backend_login_check')}}" class="login-form">
                {% if error %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <i class="fa-lg fa fa-warning"></i> {{error.message}}.
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="frm-login-email">{{'Email'|trans}}  </label>
                    <input id="frm-login-email" name="_username" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">{{'Password'|trans}}   </label>
                    <input id="frm-login-password" name="_password" type="password" class="form-control">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me"><span class="glyphicon glyphicon-ok"></span><span class="text">{{'Remember me'|trans}}</span>
                    </label>
                </div>
                <input type="hidden" name="token" value="{{ csrf_token('') }}">
                <button type="submit" title="se connecter" class="btn btn-default">{{'Login'|trans}}</button>
                <a href="{{path('crous_backend_login_check')}}" title="{{'Forgot password'|trans}}" class="link help-block">- {{'Forgot password'|trans}}</a>
            </form>
            <a href="{{path('crous_backend_login_check')}}" title="Cnous Crous" class="link logo">
                <img src="{{asset("assets/backend/crous/images/logo-xs.png")}}" alt="Cnous Crous"/>
            </a>
        </div>
    </div>
{%endblock%}