<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Administrator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{asset('assets/backend/default/css/bootstrap.css')}}" rel="stylesheet">
    <link href="{{asset('assets/backend/default/css/bootstrap-responsive.css')}}" rel="stylesheet">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{asset('assets/backend/default/ico/favicon.ico')}}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset('assets/backend/default/ico/apple-touch-icon-144-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{asset('assets/backend/default/ico/apple-touch-icon-114-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{asset('assets/backend/default/ico/apple-touch-icon-72-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" href="{{asset('assets/backend/default/ico/apple-touch-icon-57-precomposed.png')}}">
  </head>
  <body>
    <form class="form-horizontal form-login" action="{{path('crous_backend_login_check')}}" method="post">
      <fieldset>
        <legend>System Login</legend>
        {% if error is defined and error != null %}
        <div class="alert alert-danger">
            <button class="close" data-close="alert"></button>
            <span>{{ error.message }} </span>                
        </div>
        {% endif %} 
        <div class="control-group">
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-envelope"></i></span><input class="span3" id="frm-login-email" name="_username" type="text" placeholder="Email">
            </div>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-lock"></i></span><input class="span3" id="frm-login-password" name="_password" type="password" placeholder="Password" >
            </div>
          </div>
        </div>                 
      </fieldset>
      <div class="form-actions">
        <input type="hidden" name="token" value="{{ csrf_token('') }}">
        <button type="submit" class="btn btn-primary" data-loading-text="loading..." id="form-login-btnLogin">Login</button>
      </div>      
    </form>
    <script src="{{asset('assets/backend/default/js/jquery-1.7.2.min.js')}}"></script>    
    <script src="{{asset('assets/backend/default/js/bootstrap.min.js')}}"></script>
    <script>
      $('.form-login').css({
        'margin-left':-($('.form-login').outerWidth()/2),
        'margin-top':-($('.form-login').outerHeight()/2)
      });
      $(window).resize(function () {
        $('.form-login').css({
          'margin-left':-($('.form-login').outerWidth()/2),
          'margin-top':-($('.form-login').outerHeight()/2)
        });
      });      
      $('#form-login-btnLogin')
      .click(function () {
        var btn = $(this)
        btn.button('loading');
        setTimeout(function () {                 
          btn.button('reset');
        }, 3000)
      });
    </script>    
  </body>
</html>
