{% set route = app.request.attributes.get('_route')%}
<section class="container">
    <div class="top">
        <a href="index.html" title="Crous" class="logo">
            <img src="{{asset("assets/backend/crous/images/logo.png")}}" alt="Crous"/>
        </a>
        <a class="btn-deconnect" href="{{path('crous_backend_logout')}}"><span>{{'Logout'|trans}}</span></a>
    </div>
    <nav class="navbar">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span>            <span class="icon-bar"></span>            <span class="icon-bar"></span>            <span class="icon-bar"></span></button>          
        </div>
        <!-- Collect the nav links, forms, and other content for toggling-->
        <div id="navbar-main" aria-expanded="false" style="height: 1px;" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li {%if route in ['crous_backend_homepage'] %}class="active"{%endif%}>
                  <a href="{{path('crous_backend_homepage')}}" title=" ACCUEIL"> ACCUEIL</a>
              </li>
              <li {%if route in ['crous_backend_flux_dashboard', 'crous_backend_house', 'crous_backend_service', 'crous_backend_region', 'crous_backend_splash', 'crous_backend_onlineservice'] %}class="active"{%endif%}>
                  <a href="{{path('crous_backend_flux_dashboard')}}" title="GESTION DES FLUX">GESTION DES FLUX</a>
              </li>
              <li><a href="NOTIFICATIONS PUSH.html" title="NOTIFICATIONS PUSH">NOTIFICATIONS PUSH</a>
              </li>
              <li><a href="statistiques.html" title="statistiques">statistiques</a>
              </li>
            </ul>
        </div>
    </nav>
</section>

