{% extends 'form_div_layout.html.twig' %}

{% block field_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}

    </div>
{% endblock field_row %}

{% block form_label %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label class="label" for="{{ id }}">
        {% if translation_domain is defined%}
            {{ label|trans({}, translation_domain)|raw }}:
        {% else %}
            {{ label|trans|raw }}:
        {% endif %}
        {% if required and name != 'trail' %}
            <span class="required">*</span>
        {% endif %}
    </label>
{% endblock %}

{% block form_rows %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endblock %}

{% block form_row %}
    {% if 'checkbox' in form.vars.block_prefixes %}
        <div class="form-group">
            <div class="col-sm-3">
                {{ form_label(form) }}
            </div>
            <div class="col-sm-9">
                <div class="checkbox">
                    <label>
                        {{ form_widget(form) }}
                    </label>
                </div>
                {{ form_errors(form) }}
            </div>
        </div>
    {% elseif 'date' in  form.vars.block_prefixes %}
        <div class="form-group">
            <div class="col-sm-3">
                {{ form_label(form) }}
            </div>
            <div class="col-sm-9">
                <div class="date date-picker" data-date-format="dd/mm/yyyy">
                    <a href="javascript:;" title="select" class="dropdown-select">
                        <i class="icon-select"></i>
                    </a>
                    {{ form_widget(form) }}
                </div>
                {{ form_errors(form) }}
            </div>
        </div>
    {% elseif 'choice' in form.vars.block_prefixes %}
        <div class="form-group">
            <div class="col-sm-3">
                {{ form_label(form) }}
            </div>
            <div class="col-sm-9">
                <div class="custom-select"><span>-Select-</span><a href="javascript:;" title="select" class="dropdown-select"><i class="icon-select"></i></a>
                        {{ form_widget(form) }}
                        {{ form_errors(form) }}
                </div>
            </div>
        </div>
    {% elseif 'image' in form.vars.block_prefixes %}

        <div class="form-group">
            <div class="col-sm-3">
                {{ form_label(form) }}
            </div>
            <div class="col-sm-9">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
        {% if thumbnail_url is defined and thumbnail_url != '' %}
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="label">{{ 'Thumbnail'|trans }}</label>
                </div>
                <div class="col-sm-9">
                    <a target="_blank" href="{{ asset(thumbnail_url) }}" class="link thumbnail-img">
                        <span class="text">> {{ app.request.getSchemeAndHttpHost() ~ asset(thumbnail_url) }}</span>
                    </a>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="form-group">
            <div class="col-sm-3">
                {{ form_label(form) }}
            </div>
            <div class="col-sm-9">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endif %}  

{% endblock form_row %}

{% block filemanage_widget %}
    {% spaceless %}
        <div class="input-group">
            {{ form_widget(form) }}
            <span class="input-group-btn">
                <button class="btn fileModal" data-target="#fileManager" href="#fileManager" type="button">{{ 'Select'|trans }}</button>
            </span>
        </div>
    {% endspaceless %}
{% endblock %}


{% block file_widget %}
    {% spaceless %}
        <div class="custom-upload">
            <div class="row">
                <div class="img-upload">
                    <figure><span>
                            {% if thumbnail_url is defined and thumbnail_url !='' %}
                                <img src="{{ asset(thumbnail_url) }}"/>
                            {% endif %}
                        </span></figure>
                </div>
                <div class="wrap-btn style-2">
                    {% if form.vars.attr['delete_route'] is defined 
                            and form.vars.attr['delete_route'] != '' 
                            and form.vars.form.parent.vars.value.id != ''
                            and image_url != ''
                    %}
                            
                    <a id="remove" href="{{path(form.vars.attr['delete_route'], {id: form.vars.form.parent.vars.value.id})}}" name="remove" title="Remove" class="btn btn-default">Remove</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="upload-file"><span class="file-name">File name</span>
                    {{ form_widget(form) }}<a href="javascript:;" class="btn-upload">Browse</a>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock file_widget %}



